<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>image board</span>
    </mat-toolbar>
    <app-home></app-home>
  </mat-sidenav-content>
</mat-sidenav-container>
