.sidenav-container {
  height: 100%;

}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  margin-bottom: 20px;
}

span{
  text-transform: uppercase;
}

