mat-container
  width: 50%
hr
  border: 1px solid #dd1f58

.form-container
  width: 50%
  margin-top: 50px
  margin-bottom: 150px

.card
  margin: 20px

h3
  color: #dd1f58
  text-transform: uppercase
  border: 1px solid white
  display: inline-block
  padding: 5px
