<mat-container fxLayoutAlign="center">
  <div fxLayout="column">
    <mat-progress-bar mode="indeterminate" *ngIf="isFetching"></mat-progress-bar>
    <div
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      fxFlex.lt-lg="33%"
      fxFlex="25%"
      *ngFor="let ib of imageBoard"
    >
      <mat-card class="card">
        <mat-card-title>
          {{ ib.author | anonymous }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ ib.date }}
        </mat-card-subtitle>

        <div *ngIf="ib.image">
          <img
            [src]="apiUrl + '/uploads/' + ib.image"
            [alt]="'Photo of' + ib.author | anonymous"
            mat-card-image
          />
        </div>
        <div *ngIf="!ib.image">
          <h3>no photo</h3>
        </div>

        <mat-card-content>
          <h2>{{ ib.text }}</h2>
        </mat-card-content>
        <hr>
      </mat-card>
    </div>
  </div>
</mat-container>

<div class="form-container">
  <form (ngSubmit)="onSub()" #f="ngForm" fxLayout="column">
    <mat-form-field appearance="outline">
      <mat-label>author</mat-label>
      <input type="text" name="author" matInput ngModel>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>text</mat-label>
      <textarea
        name="text"
        matInput
        required
        ngModel
        cdkTextareaAutosize
        cdkAutosizeMinRows="5"
      >
      </textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>image</mat-label>
      <app-file-input name="image" ngModel></app-file-input>
    </mat-form-field>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="f.invalid || isFetching"
    >
      post
    </button>
    <mat-progress-bar mode="indeterminate" *ngIf="isFetching"></mat-progress-bar>
  </form>
</div>

